---
interface Props {
  pageTitle: string;
}

import Navlink from "../components/Navlink.component.astro";

const { pathname } = Astro.url;
const { pageTitle } = Astro.props;
---

<html lang="en" class="bg-black">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src-elem 'self' 'unsafe-inline' https://gc.zgo.at/count.js"
    />
    <title>{pageTitle}</title>
    <script
      is:inline
      data-goatcounter="https://tphbrok.goatcounter.com/count"
      async
      src="https://gc.zgo.at/count.js"></script>
  </head>
  <body class="bg-cyan-950/25 text-white min-h-screen w-screen">
    <div class="min-w-80 max-w-3xl mx-auto p-4">
      <nav class="flex justify-between gap-x-8 items-center">
        <div class="flex-grow">
          <img
            src="/thomas.jpg"
            alt="Picture of Thomas"
            class="w-20 aspect-square rounded-full"
          />
        </div>

        <Navlink pathname={pathname} href="/">Home</Navlink>
        <!-- <Navlink pathname={pathname} href="/blog">Blog</Navlink> -->
        <Navlink pathname={pathname} href="/projects">Projects</Navlink>
      </nav>
      <main class="pt-8">
        <h1 class="text-5xl font-semibold tracking-tight">{pageTitle}</h1>
        <div class="py-4">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>

<style is:global>
  h1 {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  ul {
    list-style-position: outside;
  }

  li {
    list-style-type: disc;
    margin-left: 32px;
  }

  a {
    @apply text-cyan-200;
    text-decoration: underline;
  }

  a:hover {
    @apply text-cyan-300;
  }
</style>
