---
interface Props {
    pageTitle: string;
}

import Navlink from "../components/Navlink.component.astro";

const { pathname } = Astro.url;
const { pageTitle } = Astro.props;
---

<html lang="en" class="bg-black">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            http-equiv="Content-Security-Policy"
            content="script-src-elem 'self' 'unsafe-inline' https://gc.zgo.at/count.js"
        />
        <title>{pageTitle}</title>
        <script
            is:inline
            data-goatcounter="https://tphbrok.goatcounter.com/count"
            async
            src="https://gc.zgo.at/count.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="apple-touch-icon-precomposed"
            sizes="57x57"
            href="/apple-touch-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="114x114"
            href="/apple-touch-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="72x72"
            href="/apple-touch-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="144x144"
            href="/apple-touch-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="60x60"
            href="/apple-touch-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="120x120"
            href="/apple-touch-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="76x76"
            href="/apple-touch-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon-precomposed"
            sizes="152x152"
            href="/apple-touch-icon-152x152.png"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-196x196.png"
            sizes="196x196"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-96x96.png"
            sizes="96x96"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-32x32.png"
            sizes="32x32"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-16x16.png"
            sizes="16x16"
        />
        <link
            rel="icon"
            type="image/png"
            href="/favicon-128.png"
            sizes="128x128"
        />
        <meta name="application-name" content="tphbrok.github.io" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
        <meta
            name="msapplication-square70x70logo"
            content="/mstile-70x70.png"
        />
        <meta
            name="msapplication-square150x150logo"
            content="/mstile-150x150.png"
        />
        <meta
            name="msapplication-wide310x150logo"
            content="/mstile-310x150.png"
        />
        <meta
            name="msapplication-square310x310logo"
            content="/mstile-310x310.png"
        />
    </head>
    <body class="bg-cyan-950/25 text-white min-h-screen w-screen">
        <div class="min-w-80 max-w-3xl mx-auto p-4">
            <nav class="flex justify-between gap-x-8 items-center">
                <div class="flex-grow">
                    <img
                        src="/thomas.jpg"
                        alt="Picture of Thomas"
                        class="w-20 aspect-square rounded-full"
                    />
                </div>

                <Navlink pathname={pathname} href="/">Home</Navlink>
                <Navlink pathname={pathname} href="/projects">Projects</Navlink>
            </nav>
            <main class="pt-8">
                <h1 class="text-5xl font-semibold tracking-tight">
                    {pageTitle}
                </h1>
                <div class="py-4">
                    <slot />
                </div>
            </main>
        </div>
    </body>
</html>

<style is:global>
    h1 {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 8px;
        font-weight: bold;
    }

    ul {
        list-style-position: outside;
    }

    li {
        list-style-type: disc;
        margin-left: 32px;
    }

    a {
        @apply text-cyan-200;
        text-decoration: underline;
    }

    a:hover {
        @apply text-cyan-300;
    }
</style>
